@font-face {
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}

body {
  background-color: black;
  text-align: center;
  color: #20C20E;
  font-family: "digital-clock-font";
  font-size: 100%;
}

p, h3 {
  font-size: 1em;
}

a {
  display: block;
  text-align: center;
  font-size: 1em;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

.response {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20%;
}

.response p {
  font-size: 1.2em;
  margin: 0.5em;
}

#tries {
  margin: 1em 2em;
  color: white;
}


.guess {
  position: relative;
  top: 1.5em;
  height: 70vh;
  font-size: 2em;
}

.guess p {
  margin: 0.5em 0em;
}

#digits {
  margin: 0em 0.5em 0.5em 0.5em;
  font-size: 0.6em;
}

#error {
  font-weight: bold;
  font-size: 1em;
}

.guess form {
  text-align: center;
}

input[type='text'] {
  -moz-appearance: textfield;
  text-align: center;
  width: 3em;
  height: 1em;
  font-size: 1em;
  font-family: "digital-clock-font";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.key {
  font-size: 1em;
}

.win, .lose p {
  font-size: 2.5em;
}
